[Desktop Entry]
Name=Packet Sender
Comment=Network utility for sending and receiving TCP, UDP, SSL packets
Exec=/usr/bin/packetsender
Icon=/usr/share/icons/packetsender
Terminal=false
Type=Application
Categories=Network;
Keywords=Network;traffic;TCP;UDP;SSL;packet;injection;IPv4;IPv6;simulation;
